:root {
	--lightprimary: #ffb362;
	--primary: #ff8300;
	--light: #ffffff;
	--dark: #212121;
	--black: #000000;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 1.3rem;
	font-family: sans-serif;
	font-family: 'Playfair Display'
}

.App {
	background: url('Img/paisaje.jpg');
	background-size: 100%;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 100vh;
	position: relative;
	color: #f8f8f8;
	display: flex;
	justify-content: center;
	align-items: center;
	/*background: linear-gradient(rgb(0, 255, 255), rgb(0, 153, 255));*/
}

.Clouds {
	background: url('Img/clouds.jpg');
	background-size: 100%;
	background-size: cover;
	background-position: center;
}

.Clear {
	background: url('Img/clear.jpg');
	background-size: 100%;
	background-size: cover;
	background-position: center;
}

.Rain {
	background: url('Img/rain.png');
	background-size: 100%;
	background-size: cover;
	background-position: center;
}

.container {
	height: 90%;
	width: 40%;
	min-width: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 30px;
	padding: 10px;
}

input {
	min-width: 280px;
	width: 80%;
	text-align: center;
	padding: .5rem 1.5rem;
	font-size: 1.1rem;
	border-radius: 15px;
	border: 1px solid rgba(255, 255, 255, 0.8);
	background: rgba(0, 0, 0, 0.4);
	color: #f8f8f8;
}

.search {
	text-align: center;
	width: 100%;
}

.segundo-container {
	height: 80%;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.location p {
	font-size: 2rem;
}

.background-image {
	margin-top: 30px;
	height: 150px;
	width: 70%;
	min-width: 280px;
	border-radius: 30px;
}

.top {
	width: 100%;
	height: 100%;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 30px;
}

.bottom {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 80%;
	width: 100%;
}

.temperature {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	justify-content: space-evenly;
	height: 25%;
}

.feels {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	justify-content: space-evenly;
	height: 25%;
}

.humidity {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	justify-content: space-evenly;
	height: 25%;
}

.wind {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	justify-content: space-evenly;
	height: 25%;
}




.Cloudsa {
	background-color: rgba(0, 0, 0, 0.4);
}

.Cleara {
	background-color: rgba(0, 0, 0, 0.4);
}

.Raina {
	background-color: rgba(0, 0, 0, 0.4);
}










